{# templates/app.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="Freelance Full-Stack Dev PHP Symfony Vue sur Thionville, Metz, Luxembourg et Full remote partout dans le monde"
        <title>Jonathan Jolivalt CV 2023 - Développeur Full-stack - Symfony 6, PHP 8, VueJS 3, GSAP 3</title>
        
        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://www.jonathan-jolivalt.fr/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Jonathan Jolivalt CV 2023 - Développeur Full-stack - Symfony 6, PHP 8, VueJS 3, GSAP 3">
        <meta property="og:description" content="Freelance Full-Stack Dev PHP Symfony Vue sur Thionville, Metz, Luxembourg et Full remote partout dans le monde">
        <meta property="og:image" content="https://jonathan-jolivalt.fr/build/images/jonathanjolivaltog.jpg">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta property="twitter:domain" content="jonathan-jolivalt.fr">
        <meta property="twitter:url" content="https://www.jonathan-jolivalt.fr/">
        <meta name="twitter:title" content="Jonathan Jolivalt CV 2023 - Développeur Full-stack - Symfony 6, PHP 8, VueJS 3, GSAP 3">
        <meta name="twitter:description" content="Freelance Full-Stack Dev PHP Symfony Vue sur Thionville, Metz, Luxembourg et Full remote partout dans le monde">
        <meta name="twitter:image" content="https://jonathan-jolivalt.fr/build/images/jonathanjolivaltog.jpg">
        
        <link rel="icon" href="{{ asset('/build/images/jonathanjolivalt.ico') }}" />
        {{ encore_entry_link_tags('app') }}
        <script type="text/javascript" charset="UTF-8" src="//cdn.cookie-script.com/s/c4cc6bdc9fc6bc053095ef7935868ba9.js"></script>
        {{ encore_entry_script_tags('app') }}
    </head>
    <body>
      <div id="app">
      </div>
    </body>
</html>